In [1]:
import sys
!{sys.executable} -m pip install duckdb-engine
!{sys.executable} -m pip install ipython-sql

Requirement already satisfied: duckdb-engine in /opt/anaconda3/envs/info2950/lib/python3.9/site-packages (0.6.3)
Requirement already satisfied: duckdb>=0.4.0 in /opt/anaconda3/envs/info2950/lib/python3.9/site-packages (from duckdb-engine) (0.5.0)
Requirement already satisfied: numpy in /opt/anaconda3/envs/info2950/lib/python3.9/site-packages (from duckdb-engine) (1.21.5)
Requirement already satisfied: sqlalchemy<2.0.0,>=1.3.19 in /opt/anaconda3/envs/info2950/lib/python3.9/site-packages (from duckdb-engine) (1.4.39)
Requirement already satisfied: greenlet!=0.4.17 in /opt/anaconda3/envs/info2950/lib/python3.9/site-packages (from sqlalchemy<2.0.0,>=1.3.19->duckdb-engine) (1.1.1)
Requirement already satisfied: ipython-sql in /opt/anaconda3/envs/info2950/lib/python3.9/site-packages (0.4.1)
Requirement already satisfied: sqlparse in /opt/anaconda3/envs/info2950/lib/python3.9/site-packages (from ipython-sql) (0.4.2)
Requirement already satisfied: prettytable<1 in /opt/anaconda3/envs/info2950/lib/python3.9/site-packages (from ipython-sql) (0.7.2)
Requirement already satisfied: ipython-genutils>=0.1.0 in /opt/anaconda3/envs/info2950/lib/python3.9/site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: sqlalchemy>=0.6.7 in /opt/anaconda3/envs/info2950/lib/python3.9/site-packages (from ipython-sql) (1.4.39)
Requirement already satisfied: six in /opt/anaconda3/envs/info2950/lib/python3.9/site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: ipython>=1.0 in /opt/anaconda3/envs/info2950/lib/python3.9/site-packages (from ipython-sql) (8.4.0)
Requirement already satisfied: pickleshare in /opt/anaconda3/envs/info2950/lib/python3.9/site-packages (from ipython>=1.0->ipython-sql) (0.7.5)
Requirement already satisfied: traitlets>=5 in /opt/anaconda3/envs/info2950/lib/python3.9/site-packages (from ipython>=1.0->ipython-sql) (5.1.1)
Requirement already satisfied: stack-data in /opt/anaconda3/envs/info2950/lib/python3.9/site-packages (from ipython>=1.0->ipython-sql) (0.2.0)
Requirement already satisfied: jedi>=0.16 in /opt/anaconda3/envs/info2950/lib/python3.9/site-packages (from ipython>=1.0->ipython-sql) (0.18.1)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in /opt/anaconda3/envs/info2950/lib/python3.9/site-packages (from ipython>=1.0->ipython-sql) (3.0.20)
Requirement already satisfied: appnope in /opt/anaconda3/envs/info2950/lib/python3.9/site-packages (from ipython>=1.0->ipython-sql) (0.1.2)
Requirement already satisfied: pygments>=2.4.0 in /opt/anaconda3/envs/info2950/lib/python3.9/site-packages (from ipython>=1.0->ipython-sql) (2.11.2)
Requirement already satisfied: pexpect>4.3 in /opt/anaconda3/envs/info2950/lib/python3.9/site-packages (from ipython>=1.0->ipython-sql) (4.8.0)
Requirement already satisfied: decorator in /opt/anaconda3/envs/info2950/lib/python3.9/site-packages (from ipython>=1.0->ipython-sql) (5.1.1)
Requirement already satisfied: setuptools>=18.5 in /opt/anaconda3/envs/info2950/lib/python3.9/site-packages (from ipython>=1.0->ipython-sql) (63.4.1)
Requirement already satisfied: matplotlib-inline in /opt/anaconda3/envs/info2950/lib/python3.9/site-packages (from ipython>=1.0->ipython-sql) (0.1.2)
Requirement already satisfied: backcall in /opt/anaconda3/envs/info2950/lib/python3.9/site-packages (from ipython>=1.0->ipython-sql) (0.2.0)
Requirement already satisfied: greenlet!=0.4.17 in /opt/anaconda3/envs/info2950/lib/python3.9/site-packages (from sqlalchemy>=0.6.7->ipython-sql) (1.1.1)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in /opt/anaconda3/envs/info2950/lib/python3.9/site-packages (from jedi>=0.16->ipython>=1.0->ipython-sql) (0.8.3)
Requirement already satisfied: ptyprocess>=0.5 in /opt/anaconda3/envs/info2950/lib/python3.9/site-packages (from pexpect>4.3->ipython>=1.0->ipython-sql) (0.7.0)
Requirement already satisfied: wcwidth in /opt/anaconda3/envs/info2950/lib/python3.9/site-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython>=1.0->ipython-sql) (0.2.5)
Requirement already satisfied: pure-eval in /opt/anaconda3/envs/info2950/lib/python3.9/site-packages (from stack-data->ipython>=1.0->ipython-sql) (0.2.2)
Requirement already satisfied: executing in /opt/anaconda3/envs/info2950/lib/python3.9/site-packages (from stack-data->ipython>=1.0->ipython-sql) (0.8.3)
Requirement already satisfied: asttokens in /opt/anaconda3/envs/info2950/lib/python3.9/site-packages (from stack-data->ipython>=1.0->ipython-sql) (2.0.5)

In [2]:
import requests
from bs4 import BeautifulSoup

import pandas as pd
import numpy as np
import time

import seaborn
from matplotlib import pyplot as plt

from sklearn.linear_model import LogisticRegression
from sklearn.linear_model import LinearRegression
from sklearn import preprocessing
from sklearn import utils
from scipy.stats import binom, poisson, norm

In [3]:
%load_ext sql

%config SqlMagic.autopandas = True
%config SqlMagic.feedback = False
%config SqlMagic.displaycon = False

%sql duckdb:///:memory:

### Billboard Hot 100 Data Cleaning:

The intial data cleaning meant that we had to cut down the Kaggle unemployment data starting from 2009, because that's when Pitbull first appeared on the Hot100.

In [4]:
billboard_df = pd.read_csv('charts.csv')
print (billboard_df.head())

         date  rank           song                         artist  last-week  \
0  2021-11-06     1     Easy On Me                          Adele        1.0
1  2021-11-06     2           Stay  The Kid LAROI & Justin Bieber        2.0
2  2021-11-06     3  Industry Baby        Lil Nas X & Jack Harlow        3.0
3  2021-11-06     4     Fancy Like                   Walker Hayes        4.0
4  2021-11-06     5     Bad Habits                     Ed Sheeran        5.0

   peak-rank  weeks-on-board
0          1               3
1          1              16
2          1              14
3          3              19
4          2              18

In [5]:
pitbull_df= billboard_df.loc[billboard_df['artist'] == 'Pitbull']

In [6]:
pitbull_df= pitbull_df.loc[pitbull_df['date'].between('2009-01-01', '2022-10-15')]
%sql SELECT * FROM pitbull_df ORDER BY date ASC

,date,rank,song,artist,last-week,peak-rank,weeks-on-board
0,2009-03-14,66,I Know You Want Me (Calle Ocho),Pitbull,NaN,66,1
1,2009-03-21,54,I Know You Want Me (Calle Ocho),Pitbull,66.0,54,2
2,2009-03-28,50,I Know You Want Me (Calle Ocho),Pitbull,54.0,50,3
3,2009-04-04,44,I Know You Want Me (Calle Ocho),Pitbull,50.0,44,4
4,2009-04-11,37,I Know You Want Me (Calle Ocho),Pitbull,44.0,37,5
...,...,...,...,...,...,...,...
79,2012-08-04,50,Back In Time,Pitbull,38.0,11,16
80,2012-08-11,55,Back In Time,Pitbull,50.0,11,17
81,2012-08-18,66,Back In Time,Pitbull,55.0,11,18
82,2012-08-25,75,Back In Time,Pitbull,66.0,11,19
83,2012-09-01,79,Back In Time,Pitbull,75.0,11,20

### Webscraping and data cleaning Pitbull's awards

This involved webscraping Pitbull's award page on Wikipedia. Because we're using the Hot100 as a popularity metric, it made sense to use Billboard Awards as a success metric. Here, we combined the Billboard Latin Awards with the Billboard America Awards to give a fuller picture of Pitbull as an artist. We implemented a binary to ask later down the line if his success in the Latin awards could have any impact on whether or not there was a correlation with unemployment.

In [7]:
page= requests.get('https://en.wikipedia.org/wiki/List_of_awards_and_nominations_received_by_Pitbull')
with open ('pitbull_awards.html', 'w', errors='replace') as writer:
    writer.write (page.text)
with open ('pitbull_awards.html', 'r') as reader:
    pitbull_awards_source = reader.read()
pitbull_awards_page= BeautifulSoup(pitbull_awards_source, 'html.parser')
table= pitbull_awards_page.find_all(['table'], class_= 'wikitable plainrowheaders')
pitbull_awards_df= pd.read_html(str(table))
pitbull_billboard_awards_df=pd.DataFrame(pitbull_awards_df[2])
print (pitbull_billboard_awards_df.head())
pitbull_latin_billboard_awards_df=pd.DataFrame(pitbull_awards_df[3])
print (pitbull_latin_billboard_awards_df.head())

      Year        Nominee / work             Award     Result
0  2011[4]               Pitbull  Top Latin Artist  Nominated
1  2011[4]            "Bon, Bon"    Top Latin Song        Won
2  2012[5]               Pitbull  Top Latin Artist  Nominated
3  2012[5]  "Give Me Everything"    Top Radio Song        Won
4  2012[5]  "Give Me Everything"      Top Rap Song  Nominated
      Year                     Nominee / work  \
0  2009[6]                            Pitbull
1  2010[7]                            Pitbull
2  2010[7]  "I Know You Want Me (Calle Ocho)"
3     2011                            Pitbull
4     2011                            Pitbull

                                           Award     Result
0      Latin Digital Download Artist of the Year        Won
1  Latin Rhythm Airplay Artist of the Year, Solo  Nominated
2          Latin Rhythm Airplay Song of the Year  Nominated
3                                      Social 50  Nominated
4                           Latin Rhythm Airplay  Nominated

In [8]:
pitbull_latin_billboard_awards_df['Latin']= 'Yes'
pitbull_latin_billboard_awards_df['Month']= '09'
pitbull_billboard_awards_df['Month']= '05'
pitbull_billboard_awards_df['Latin']= 'No'
pitbull_billboard_all_awards_df = pd.concat([pitbull_billboard_awards_df, pitbull_latin_billboard_awards_df], ignore_index=True)
pitbull_billboard_all_awards_df['Year'] = pitbull_billboard_all_awards_df['Year'].str[:4]
pd.to_datetime(pitbull_billboard_all_awards_df.Year, format='%Y')
pd.to_datetime(pitbull_billboard_all_awards_df.Month, format='%m')
pitbull_billboard_all_awards_df=pitbull_billboard_all_awards_df.sort_values(by='Year',ascending=True)
pitbull_billboard_all_awards_df.head(10)
#print(pitbull_billboard_all_awards_df)

,Year,Nominee / work,Award,Result,Month,Latin
11,2009,Pitbull,Latin Digital Download Artist of the Year,Won,09,Yes
13,2010,"""I Know You Want Me (Calle Ocho)""",Latin Rhythm Airplay Song of the Year,Nominated,09,Yes
12,2010,Pitbull,"Latin Rhythm Airplay Artist of the Year, Solo",Nominated,09,Yes
0,2011,Pitbull,Top Latin Artist,Nominated,05,No
18,2011,"""Bon, Bon""",Latin Rhythm Airplay,Nominated,09,Yes
17,2011,"""Bon, Bon""",Latin Digital Download of the Year,Nominated,09,Yes
16,2011,Pitbull,Latin Rhythm Albums,Nominated,09,Yes
15,2011,Pitbull,Latin Rhythm Airplay,Nominated,09,Yes
14,2011,Pitbull,Social 50,Nominated,09,Yes
19,2011,"""Armando""",Latin Rhythm Albums,Nominated,09,Yes

In [9]:
pairs = set(tuple(x) for x in pitbull_billboard_all_awards_df[['Year', 'Month']].values.tolist())
for year in range(2009, 2013):
    for month in range(1, 13):
        if (year, month) not in pairs:
            pitbull_billboard_all_awards_df = pitbull_billboard_all_awards_df.append({'Year': int(year), 'Month': int(month)}, ignore_index=True)
pitbull_billboard_all_awards_df = pitbull_billboard_all_awards_df.sort_values(by=['Year', 'Month'])
pitbull_billboard_all_awards_df = pitbull_billboard_all_awards_df.reset_index(drop=True)
pitbull_billboard_all_awards_df = pitbull_billboard_all_awards_df.fillna(0.0)
pitbull_billboard_all_awards_df['Year'] = pitbull_billboard_all_awards_df['Year'].astype(int)
pitbull_billboard_all_awards_df['Month'] = pitbull_billboard_all_awards_df['Month'].astype(int)
pitbull_billboard_all_awards_df=pitbull_billboard_all_awards_df.replace(to_replace=False,value=0)
pitbull_billboard_all_awards_df=pitbull_billboard_all_awards_df.replace(to_replace=True,value=1)
pitbull_billboard_all_awards_df['date']= pd.to_datetime(pitbull_billboard_all_awards_df[['Year', 'Month']].assign(DAY=1))
pitbull_billboard_all_awards_df=pitbull_billboard_all_awards_df
pitbull_billboard_all_awards_df

/var/folders/2w/njy86mp575gbwnzfsx6c3t8h0000gn/T/ipykernel_36166/765055906.py:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  pitbull_billboard_all_awards_df = pitbull_billboard_all_awards_df.append({'Year': int(year), 'Month': int(month)}, ignore_index=True)
/var/folders/2w/njy86mp575gbwnzfsx6c3t8h0000gn/T/ipykernel_36166/765055906.py:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  pitbull_billboard_all_awards_df = pitbull_billboard_all_awards_df.append({'Year': int(year), 'Month': int(month)}, ignore_index=True)
/var/folders/2w/njy86mp575gbwnzfsx6c3t8h0000gn/T/ipykernel_36166/765055906.py:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  pitbull_billboard_all_awards_df = pitbull_billboard_all_awards_df.append({'Year': int(year), 'Month': int(month)}, ignore_index=True)
/var/folders/2w/njy86mp575gbwnzfsx6c3t8h0000gn/T/ipykernel_36166/765055906.py:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  pitbull_billboard_all_awards_df = pitbull_billboard_all_awards_df.append({'Year': int(year), 'Month': int(month)}, ignore_index=True)
/var/folders/2w/njy86mp575gbwnzfsx6c3t8h0000gn/T/ipykernel_36166/765055906.py:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  pitbull_billboard_all_awards_df = pitbull_billboard_all_awards_df.append({'Year': int(year), 'Month': int(month)}, ignore_index=True)
/var/folders/2w/njy86mp575gbwnzfsx6c3t8h0000gn/T/ipykernel_36166/765055906.py:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  pitbull_billboard_all_awards_df = pitbull_billboard_all_awards_df.append({'Year': int(year), 'Month': int(month)}, ignore_index=True)
/var/folders/2w/njy86mp575gbwnzfsx6c3t8h0000gn/T/ipykernel_36166/765055906.py:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  pitbull_billboard_all_awards_df = pitbull_billboard_all_awards_df.append({'Year': int(year), 'Month': int(month)}, ignore_index=True)
/var/folders/2w/njy86mp575gbwnzfsx6c3t8h0000gn/T/ipykernel_36166/765055906.py:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  pitbull_billboard_all_awards_df = pitbull_billboard_all_awards_df.append({'Year': int(year), 'Month': int(month)}, ignore_index=True)
/var/folders/2w/njy86mp575gbwnzfsx6c3t8h0000gn/T/ipykernel_36166/765055906.py:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  pitbull_billboard_all_awards_df = pitbull_billboard_all_awards_df.append({'Year': int(year), 'Month': int(month)}, ignore_index=True)
/var/folders/2w/njy86mp575gbwnzfsx6c3t8h0000gn/T/ipykernel_36166/765055906.py:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  pitbull_billboard_all_awards_df = pitbull_billboard_all_awards_df.append({'Year': int(year), 'Month': int(month)}, ignore_index=True)
/var/folders/2w/njy86mp575gbwnzfsx6c3t8h0000gn/T/ipykernel_36166/765055906.py:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  pitbull_billboard_all_awards_df = pitbull_billboard_all_awards_df.append({'Year': int(year), 'Month': int(month)}, ignore_index=True)
/var/folders/2w/njy86mp575gbwnzfsx6c3t8h0000gn/T/ipykernel_36166/765055906.py:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  pitbull_billboard_all_awards_df = pitbull_billboard_all_awards_df.append({'Year': int(year), 'Month': int(month)}, ignore_index=True)
/var/folders/2w/njy86mp575gbwnzfsx6c3t8h0000gn/T/ipykernel_36166/765055906.py:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  pitbull_billboard_all_awards_df = pitbull_billboard_all_awards_df.append({'Year': int(year), 'Month': int(month)}, ignore_index=True)
/var/folders/2w/njy86mp575gbwnzfsx6c3t8h0000gn/T/ipykernel_36166/765055906.py:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  pitbull_billboard_all_awards_df = pitbull_billboard_all_awards_df.append({'Year': int(year), 'Month': int(month)}, ignore_index=True)
/var/folders/2w/njy86mp575gbwnzfsx6c3t8h0000gn/T/ipykernel_36166/765055906.py:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  pitbull_billboard_all_awards_df = pitbull_billboard_all_awards_df.append({'Year': int(year), 'Month': int(month)}, ignore_index=True)
/var/folders/2w/njy86mp575gbwnzfsx6c3t8h0000gn/T/ipykernel_36166/765055906.py:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  pitbull_billboard_all_awards_df = pitbull_billboard_all_awards_df.append({'Year': int(year), 'Month': int(month)}, ignore_index=True)
/var/folders/2w/njy86mp575gbwnzfsx6c3t8h0000gn/T/ipykernel_36166/765055906.py:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  pitbull_billboard_all_awards_df = pitbull_billboard_all_awards_df.append({'Year': int(year), 'Month': int(month)}, ignore_index=True)
/var/folders/2w/njy86mp575gbwnzfsx6c3t8h0000gn/T/ipykernel_36166/765055906.py:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  pitbull_billboard_all_awards_df = pitbull_billboard_all_awards_df.append({'Year': int(year), 'Month': int(month)}, ignore_index=True)
/var/folders/2w/njy86mp575gbwnzfsx6c3t8h0000gn/T/ipykernel_36166/765055906.py:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  pitbull_billboard_all_awards_df = pitbull_billboard_all_awards_df.append({'Year': int(year), 'Month': int(month)}, ignore_index=True)
/var/folders/2w/njy86mp575gbwnzfsx6c3t8h0000gn/T/ipykernel_36166/765055906.py:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  pitbull_billboard_all_awards_df = pitbull_billboard_all_awards_df.append({'Year': int(year), 'Month': int(month)}, ignore_index=True)
/var/folders/2w/njy86mp575gbwnzfsx6c3t8h0000gn/T/ipykernel_36166/765055906.py:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  pitbull_billboard_all_awards_df = pitbull_billboard_all_awards_df.append({'Year': int(year), 'Month': int(month)}, ignore_index=True)
/var/folders/2w/njy86mp575gbwnzfsx6c3t8h0000gn/T/ipykernel_36166/765055906.py:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  pitbull_billboard_all_awards_df = pitbull_billboard_all_awards_df.append({'Year': int(year), 'Month': int(month)}, ignore_index=True)
/var/folders/2w/njy86mp575gbwnzfsx6c3t8h0000gn/T/ipykernel_36166/765055906.py:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  pitbull_billboard_all_awards_df = pitbull_billboard_all_awards_df.append({'Year': int(year), 'Month': int(month)}, ignore_index=True)
/var/folders/2w/njy86mp575gbwnzfsx6c3t8h0000gn/T/ipykernel_36166/765055906.py:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  pitbull_billboard_all_awards_df = pitbull_billboard_all_awards_df.append({'Year': int(year), 'Month': int(month)}, ignore_index=True)
/var/folders/2w/njy86mp575gbwnzfsx6c3t8h0000gn/T/ipykernel_36166/765055906.py:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  pitbull_billboard_all_awards_df = pitbull_billboard_all_awards_df.append({'Year': int(year), 'Month': int(month)}, ignore_index=True)
/var/folders/2w/njy86mp575gbwnzfsx6c3t8h0000gn/T/ipykernel_36166/765055906.py:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  pitbull_billboard_all_awards_df = pitbull_billboard_all_awards_df.append({'Year': int(year), 'Month': int(month)}, ignore_index=True)
/var/folders/2w/njy86mp575gbwnzfsx6c3t8h0000gn/T/ipykernel_36166/765055906.py:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  pitbull_billboard_all_awards_df = pitbull_billboard_all_awards_df.append({'Year': int(year), 'Month': int(month)}, ignore_index=True)
/var/folders/2w/njy86mp575gbwnzfsx6c3t8h0000gn/T/ipykernel_36166/765055906.py:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  pitbull_billboard_all_awards_df = pitbull_billboard_all_awards_df.append({'Year': int(year), 'Month': int(month)}, ignore_index=True)
/var/folders/2w/njy86mp575gbwnzfsx6c3t8h0000gn/T/ipykernel_36166/765055906.py:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  pitbull_billboard_all_awards_df = pitbull_billboard_all_awards_df.append({'Year': int(year), 'Month': int(month)}, ignore_index=True)
/var/folders/2w/njy86mp575gbwnzfsx6c3t8h0000gn/T/ipykernel_36166/765055906.py:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  pitbull_billboard_all_awards_df = pitbull_billboard_all_awards_df.append({'Year': int(year), 'Month': int(month)}, ignore_index=True)
/var/folders/2w/njy86mp575gbwnzfsx6c3t8h0000gn/T/ipykernel_36166/765055906.py:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  pitbull_billboard_all_awards_df = pitbull_billboard_all_awards_df.append({'Year': int(year), 'Month': int(month)}, ignore_index=True)
/var/folders/2w/njy86mp575gbwnzfsx6c3t8h0000gn/T/ipykernel_36166/765055906.py:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  pitbull_billboard_all_awards_df = pitbull_billboard_all_awards_df.append({'Year': int(year), 'Month': int(month)}, ignore_index=True)
/var/folders/2w/njy86mp575gbwnzfsx6c3t8h0000gn/T/ipykernel_36166/765055906.py:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  pitbull_billboard_all_awards_df = pitbull_billboard_all_awards_df.append({'Year': int(year), 'Month': int(month)}, ignore_index=True)
/var/folders/2w/njy86mp575gbwnzfsx6c3t8h0000gn/T/ipykernel_36166/765055906.py:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  pitbull_billboard_all_awards_df = pitbull_billboard_all_awards_df.append({'Year': int(year), 'Month': int(month)}, ignore_index=True)
/var/folders/2w/njy86mp575gbwnzfsx6c3t8h0000gn/T/ipykernel_36166/765055906.py:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  pitbull_billboard_all_awards_df = pitbull_billboard_all_awards_df.append({'Year': int(year), 'Month': int(month)}, ignore_index=True)
/var/folders/2w/njy86mp575gbwnzfsx6c3t8h0000gn/T/ipykernel_36166/765055906.py:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  pitbull_billboard_all_awards_df = pitbull_billboard_all_awards_df.append({'Year': int(year), 'Month': int(month)}, ignore_index=True)
/var/folders/2w/njy86mp575gbwnzfsx6c3t8h0000gn/T/ipykernel_36166/765055906.py:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  pitbull_billboard_all_awards_df = pitbull_billboard_all_awards_df.append({'Year': int(year), 'Month': int(month)}, ignore_index=True)
/var/folders/2w/njy86mp575gbwnzfsx6c3t8h0000gn/T/ipykernel_36166/765055906.py:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  pitbull_billboard_all_awards_df = pitbull_billboard_all_awards_df.append({'Year': int(year), 'Month': int(month)}, ignore_index=True)
/var/folders/2w/njy86mp575gbwnzfsx6c3t8h0000gn/T/ipykernel_36166/765055906.py:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  pitbull_billboard_all_awards_df = pitbull_billboard_all_awards_df.append({'Year': int(year), 'Month': int(month)}, ignore_index=True)
/var/folders/2w/njy86mp575gbwnzfsx6c3t8h0000gn/T/ipykernel_36166/765055906.py:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  pitbull_billboard_all_awards_df = pitbull_billboard_all_awards_df.append({'Year': int(year), 'Month': int(month)}, ignore_index=True)
/var/folders/2w/njy86mp575gbwnzfsx6c3t8h0000gn/T/ipykernel_36166/765055906.py:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  pitbull_billboard_all_awards_df = pitbull_billboard_all_awards_df.append({'Year': int(year), 'Month': int(month)}, ignore_index=True)
/var/folders/2w/njy86mp575gbwnzfsx6c3t8h0000gn/T/ipykernel_36166/765055906.py:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  pitbull_billboard_all_awards_df = pitbull_billboard_all_awards_df.append({'Year': int(year), 'Month': int(month)}, ignore_index=True)
/var/folders/2w/njy86mp575gbwnzfsx6c3t8h0000gn/T/ipykernel_36166/765055906.py:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  pitbull_billboard_all_awards_df = pitbull_billboard_all_awards_df.append({'Year': int(year), 'Month': int(month)}, ignore_index=True)
/var/folders/2w/njy86mp575gbwnzfsx6c3t8h0000gn/T/ipykernel_36166/765055906.py:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  pitbull_billboard_all_awards_df = pitbull_billboard_all_awards_df.append({'Year': int(year), 'Month': int(month)}, ignore_index=True)
/var/folders/2w/njy86mp575gbwnzfsx6c3t8h0000gn/T/ipykernel_36166/765055906.py:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  pitbull_billboard_all_awards_df = pitbull_billboard_all_awards_df.append({'Year': int(year), 'Month': int(month)}, ignore_index=True)
/var/folders/2w/njy86mp575gbwnzfsx6c3t8h0000gn/T/ipykernel_36166/765055906.py:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  pitbull_billboard_all_awards_df = pitbull_billboard_all_awards_df.append({'Year': int(year), 'Month': int(month)}, ignore_index=True)
/var/folders/2w/njy86mp575gbwnzfsx6c3t8h0000gn/T/ipykernel_36166/765055906.py:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  pitbull_billboard_all_awards_df = pitbull_billboard_all_awards_df.append({'Year': int(year), 'Month': int(month)}, ignore_index=True)
/var/folders/2w/njy86mp575gbwnzfsx6c3t8h0000gn/T/ipykernel_36166/765055906.py:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  pitbull_billboard_all_awards_df = pitbull_billboard_all_awards_df.append({'Year': int(year), 'Month': int(month)}, ignore_index=True)

,Year,Nominee / work,Award,Result,Month,Latin,date
0,2009,0,0,0,1,0,2009-01-01
1,2009,0,0,0,2,0,2009-02-01
2,2009,0,0,0,3,0,2009-03-01
3,2009,0,0,0,4,0,2009-04-01
4,2009,0,0,0,5,0,2009-05-01
...,...,...,...,...,...,...,...
90,2016,Pitbull & Enrique Iglesias,Tour of the Year,Nominated,9,Yes,2016-09-01
91,2016,"""Dale""",Latin Rhythm Album of the Year,Won,9,Yes,2016-09-01
92,2017,"“El Taxi” (with Sensato, Lil Jon & Osmani Garcia)",Digital Song of the Year,Nominated,9,Yes,2017-09-01
93,2017,Pitbull,"Latin Rhythm Albums Artist of the Year, Solo",Nominated,9,Yes,2017-09-01
94,2018,Pitbull & Enrique Iglesias,Tour of the Year,Won,9,Yes,2018-09-01

In [10]:
pitbull_df.sort_values(by='date')

,date,rank,song,artist,last-week,peak-rank,weeks-on-board
66065,2009-03-14,66,I Know You Want Me (Calle Ocho),Pitbull,NaN,66,1
65953,2009-03-21,54,I Know You Want Me (Calle Ocho),Pitbull,66.0,54,2
65849,2009-03-28,50,I Know You Want Me (Calle Ocho),Pitbull,54.0,50,3
65743,2009-04-04,44,I Know You Want Me (Calle Ocho),Pitbull,50.0,44,4
65636,2009-04-11,37,I Know You Want Me (Calle Ocho),Pitbull,44.0,37,5
...,...,...,...,...,...,...,...
48349,2012-08-04,50,Back In Time,Pitbull,38.0,11,16
48254,2012-08-11,55,Back In Time,Pitbull,50.0,11,17
48165,2012-08-18,66,Back In Time,Pitbull,55.0,11,18
48074,2012-08-25,75,Back In Time,Pitbull,66.0,11,19
47978,2012-09-01,79,Back In Time,Pitbull,75.0,11,20

### Data Cleaning Unemployment Data

Question is: As unemployment rate changes, what is the likelihood that Pitbull has a song on the Billboard 100?

Since unemployment is calculated on a monthly basis through household surveys, we will be creating a binary variable where 1 = Pitbull appeared on the BB100 chart that month, and 0 otherwise.

In [11]:
unemployment_df = pd.read_csv('unemployment_rate_data.csv')
unemployment_df['date'] =  pd.to_datetime(unemployment_df['date'], infer_datetime_format= True)
unemployment_df.loc[unemployment_df['date'].between('2009-01-01', '2012-12-01')]

,date,unrate,unrate_men,unrate_women,unrate_16_to_17,unrate_18_to_19,unrate_20_to_24,unrate_25_to_34,unrate_35_to_44,unrate_45_to_54,unrate_55_over
732,2009-01-01,8.5,9.7,7.0,20.8,21.7,13.5,9.2,7.4,6.7,5.9
733,2009-02-01,8.9,10.4,7.2,22.8,22.7,13.8,9.8,7.5,7.2,6.1
734,2009-03-01,9.0,10.6,7.3,23.6,20.4,13.9,10.0,7.8,7.2,6.6
735,2009-04-01,8.6,9.9,7.1,21.8,20.4,13.7,9.6,7.5,6.6,6.2
736,2009-05-01,9.1,10.2,7.7,24.2,23.3,15.5,10.1,7.5,6.5,6.3
737,2009-06-01,9.7,10.4,8.9,32.1,25.4,16.0,9.8,7.7,7.0,6.8
738,2009-07-01,9.7,10.2,9.2,27.5,23.2,15.4,10.1,7.9,7.4,7.2
739,2009-08-01,9.6,10.1,8.9,24.1,24.3,15.2,10.1,8.1,7.5,6.9
740,2009-09-01,9.5,10.2,8.6,26.2,25.7,15.1,10.1,8.3,7.4,6.5
741,2009-10-01,9.5,10.3,8.5,28.5,25.5,15.3,10.1,8.5,7.1,6.6
742,2009-11-01,9.4,10.4,8.2,29.5,25.2,14.8,9.7,8.3,7.3,6.8
743,2009-12-01,9.7,11.1,8.1,27.4,23.5,14.7,9.9,8.8,8.0,7.0
744,2010-01-01,10.6,12.3,8.5,26.8,26.9,17.1,11.0,9.4,8.5,7.5
745,2010-02-01,10.4,12.2,8.5,27.4,25.0,16.6,10.8,9.5,8.4,7.6
746,2010-03-01,10.2,11.8,8.3,29.2,23.6,15.8,10.9,9.1,8.4,7.2
747,2010-04-01,9.5,10.6,8.2,27.3,22.3,16.4,10.0,7.9,7.7,6.7
748,2010-05-01,9.3,10.1,8.5,30.2,25.0,15.2,10.3,7.4,7.2,6.6
749,2010-06-01,9.6,10.3,8.8,35.8,25.2,16.1,10.1,7.4,7.2,6.7
750,2010-07-01,9.7,10.0,9.4,32.2,23.5,15.7,9.8,7.9,7.4,7.3
751,2010-08-01,9.5,9.8,9.3,28.7,23.1,14.7,9.5,7.6,8.0,7.5
752,2010-09-01,9.2,9.6,8.7,28.5,24.3,14.6,9.5,8.1,7.1,6.9
753,2010-10-01,9.0,9.4,8.6,29.5,25.3,14.8,9.3,7.4,7.1,6.8
754,2010-11-01,9.3,9.9,8.6,25.3,23.8,14.8,9.8,7.5,7.8,7.0
755,2010-12-01,9.1,10.2,8.0,25.0,22.7,14.2,9.8,7.8,7.6,6.7
756,2011-01-01,9.8,10.8,8.6,26.5,26.3,16.3,10.1,8.1,7.9,7.3
757,2011-02-01,9.5,10.5,8.4,27.9,22.4,16.1,10.1,8.0,7.7,6.8
758,2011-03-01,9.2,10.2,8.0,28.6,21.4,15.0,9.8,7.6,7.6,6.7
759,2011-04-01,8.7,9.3,7.9,29.5,20.2,14.2,9.4,7.1,7.0,6.2
760,2011-05-01,8.7,9.2,8.3,29.5,21.5,15.2,9.2,7.1,6.8,6.3
761,2011-06-01,9.3,9.6,9.1,34.1,24.1,15.2,9.5,7.4,7.0,6.8
762,2011-07-01,9.3,9.2,9.4,30.5,22.9,14.7,9.7,7.1,7.2,7.3
763,2011-08-01,9.1,9.0,9.2,26.9,23.5,14.5,9.2,7.6,7.1,6.8
764,2011-09-01,8.8,8.8,8.8,24.8,24.3,14.3,9.3,7.3,6.8,6.5
765,2011-10-01,8.5,8.7,8.3,23.6,24.0,13.4,9.3,6.8,6.5,6.6
766,2011-11-01,8.2,8.4,7.9,22.6,23.8,13.2,8.7,6.7,6.4,6.2
767,2011-12-01,8.3,8.8,7.7,25.5,19.6,13.4,9.2,6.9,6.6,6.0
768,2012-01-01,8.8,9.3,8.3,28.1,22.4,14.2,9.6,7.5,6.9,6.4
769,2012-02-01,8.7,9.3,8.1,29.4,21.1,14.6,9.2,7.3,7.0,6.2
770,2012-03-01,8.4,8.9,7.7,28.5,22.0,13.1,9.0,6.8,6.6,6.4
771,2012-04-01,7.7,8.0,7.4,24.8,22.5,12.6,7.9,6.3,6.0,6.0
772,2012-05-01,7.9,8.1,7.7,27.0,23.1,13.3,8.0,6.4,6.0,6.1
773,2012-06-01,8.4,8.4,8.4,32.8,23.0,14.4,8.2,6.7,6.1,6.0
774,2012-07-01,8.6,8.2,9.0,29.0,21.9,13.7,8.3,6.8,6.6,6.5
775,2012-08-01,8.2,8.0,8.4,27.5,22.1,13.9,8.1,6.6,6.4,6.0
776,2012-09-01,7.6,7.6,7.6,23.4,24.0,12.1,7.9,6.2,5.8,5.7
777,2012-10-01,7.5,7.5,7.6,23.1,23.7,12.7,8.0,5.9,5.6,5.6
778,2012-11-01,7.4,7.5,7.2,28.4,20.5,11.8,7.4,6.0,5.8,5.6
779,2012-12-01,7.6,7.9,7.3,23.5,21.2,12.8,7.7,6.7,5.9,5.7

In [12]:
%sql up_df << SELECT date, unrate FROM unemployment_df ORDER BY date
up_df['year'] = pd.DatetimeIndex(up_df['date']).year
up_df['month'] = pd.DatetimeIndex(up_df['date']).month
%sql up_df << SELECT unrate, year, month FROM up_df WHERE year between 2009 and 2012
up_df['date']= pd.to_datetime(up_df[['year', 'month']].assign(DAY=1))
up_df

Returning data to local variable up_df
Returning data to local variable up_df

    unrate  year  month       date
0      8.5  2009      1 2009-01-01
1      8.9  2009      2 2009-02-01
2      9.0  2009      3 2009-03-01
3      8.6  2009      4 2009-04-01
4      9.1  2009      5 2009-05-01
5      9.7  2009      6 2009-06-01
6      9.7  2009      7 2009-07-01
7      9.6  2009      8 2009-08-01
8      9.5  2009      9 2009-09-01
9      9.5  2009     10 2009-10-01
10     9.4  2009     11 2009-11-01
11     9.7  2009     12 2009-12-01
12    10.6  2010      1 2010-01-01
13    10.4  2010      2 2010-02-01
14    10.2  2010      3 2010-03-01
15     9.5  2010      4 2010-04-01
16     9.3  2010      5 2010-05-01
17     9.6  2010      6 2010-06-01
18     9.7  2010      7 2010-07-01
19     9.5  2010      8 2010-08-01
20     9.2  2010      9 2010-09-01
21     9.0  2010     10 2010-10-01
22     9.3  2010     11 2010-11-01
23     9.1  2010     12 2010-12-01
24     9.8  2011      1 2011-01-01
25     9.5  2011      2 2011-02-01
26     9.2  2011      3 2011-03-01
27     8.7  2011      4 2011-04-01
28     8.7  2011      5 2011-05-01
29     9.3  2011      6 2011-06-01
30     9.3  2011      7 2011-07-01
31     9.1  2011      8 2011-08-01
32     8.8  2011      9 2011-09-01
33     8.5  2011     10 2011-10-01
34     8.2  2011     11 2011-11-01
35     8.3  2011     12 2011-12-01
36     8.8  2012      1 2012-01-01
37     8.7  2012      2 2012-02-01
38     8.4  2012      3 2012-03-01
39     7.7  2012      4 2012-04-01
40     7.9  2012      5 2012-05-01
41     8.4  2012      6 2012-06-01
42     8.6  2012      7 2012-07-01
43     8.2  2012      8 2012-08-01
44     7.6  2012      9 2012-09-01
45     7.5  2012     10 2012-10-01
46     7.4  2012     11 2012-11-01
47     7.6  2012     12 2012-12-01

In [13]:
m_df=pitbull_df
m_df['month'] = pd.DatetimeIndex(m_df['date']).month
m_df['year'] = pd.DatetimeIndex(m_df['date']).year
m_df['day'] = pd.DatetimeIndex(m_df['date']).day
%sql pab_df << SELECT year, month, song, COUNT(day) AS songfreq FROM m_df GROUP BY month, year, song ORDER BY year, month
pab_df

Returning data to local variable pab_df

    year  month                             song  songfreq
0   2009      3  I Know You Want Me (Calle Ocho)         3
1   2009      4  I Know You Want Me (Calle Ocho)         4
2   2009      5  I Know You Want Me (Calle Ocho)         5
3   2009      6  I Know You Want Me (Calle Ocho)         4
4   2009      7  I Know You Want Me (Calle Ocho)         4
5   2009      7               Hotel Room Service         4
6   2009      8               Hotel Room Service         5
7   2009      8  I Know You Want Me (Calle Ocho)         5
8   2009      9               Hotel Room Service         4
9   2009      9  I Know You Want Me (Calle Ocho)         4
10  2009     10               Hotel Room Service         5
11  2009     10  I Know You Want Me (Calle Ocho)         5
12  2009     11               Hotel Room Service         4
13  2009     11  I Know You Want Me (Calle Ocho)         1
14  2009     12               Hotel Room Service         1
15  2010     11                         Bon, Bon         2
16  2010     12                         Bon, Bon         3
17  2011      6                            Pause         1
18  2012      4                     Back In Time         2
19  2012      5                     Back In Time         4
20  2012      6                     Back In Time         5
21  2012      7                     Back In Time         4
22  2012      8                     Back In Time         4
23  2012      9                     Back In Time         1

We need to account for the months where he did not appear on the Billboard 100:

In [14]:
pab = pab_df
pairs = set(tuple(x) for x in pab[['year', 'month']].values.tolist())
#print(pairs)
for year in range(2009, 2013):
    for month in range(1, 13):
        if (year, month) not in pairs:
            pab = pab.append({'year': int(year), 'month': int(month)}, ignore_index=True)
pab = pab.sort_values(by=['year', 'month'])
pab = pab.reset_index(drop=True)
pab = pab.fillna(0.0)
pab['year'] = pab['year'].astype(int)
pab['month'] = pab['month'].astype(int)
pab['appearance']=pab['songfreq']>0
pab=pab.replace(to_replace=False,value=0)
pab=pab.replace(to_replace=True,value=1)
pab['date']= pd.to_datetime(pab[['year', 'month']].assign(DAY=1))
pab_df=pab
pab_df

/var/folders/2w/njy86mp575gbwnzfsx6c3t8h0000gn/T/ipykernel_36166/1841928432.py:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  pab = pab.append({'year': int(year), 'month': int(month)}, ignore_index=True)
/var/folders/2w/njy86mp575gbwnzfsx6c3t8h0000gn/T/ipykernel_36166/1841928432.py:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  pab = pab.append({'year': int(year), 'month': int(month)}, ignore_index=True)
/var/folders/2w/njy86mp575gbwnzfsx6c3t8h0000gn/T/ipykernel_36166/1841928432.py:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  pab = pab.append({'year': int(year), 'month': int(month)}, ignore_index=True)
/var/folders/2w/njy86mp575gbwnzfsx6c3t8h0000gn/T/ipykernel_36166/1841928432.py:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  pab = pab.append({'year': int(year), 'month': int(month)}, ignore_index=True)
/var/folders/2w/njy86mp575gbwnzfsx6c3t8h0000gn/T/ipykernel_36166/1841928432.py:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  pab = pab.append({'year': int(year), 'month': int(month)}, ignore_index=True)
/var/folders/2w/njy86mp575gbwnzfsx6c3t8h0000gn/T/ipykernel_36166/1841928432.py:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  pab = pab.append({'year': int(year), 'month': int(month)}, ignore_index=True)
/var/folders/2w/njy86mp575gbwnzfsx6c3t8h0000gn/T/ipykernel_36166/1841928432.py:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  pab = pab.append({'year': int(year), 'month': int(month)}, ignore_index=True)
/var/folders/2w/njy86mp575gbwnzfsx6c3t8h0000gn/T/ipykernel_36166/1841928432.py:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  pab = pab.append({'year': int(year), 'month': int(month)}, ignore_index=True)
/var/folders/2w/njy86mp575gbwnzfsx6c3t8h0000gn/T/ipykernel_36166/1841928432.py:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  pab = pab.append({'year': int(year), 'month': int(month)}, ignore_index=True)
/var/folders/2w/njy86mp575gbwnzfsx6c3t8h0000gn/T/ipykernel_36166/1841928432.py:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  pab = pab.append({'year': int(year), 'month': int(month)}, ignore_index=True)
/var/folders/2w/njy86mp575gbwnzfsx6c3t8h0000gn/T/ipykernel_36166/1841928432.py:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  pab = pab.append({'year': int(year), 'month': int(month)}, ignore_index=True)
/var/folders/2w/njy86mp575gbwnzfsx6c3t8h0000gn/T/ipykernel_36166/1841928432.py:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  pab = pab.append({'year': int(year), 'month': int(month)}, ignore_index=True)
/var/folders/2w/njy86mp575gbwnzfsx6c3t8h0000gn/T/ipykernel_36166/1841928432.py:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  pab = pab.append({'year': int(year), 'month': int(month)}, ignore_index=True)
/var/folders/2w/njy86mp575gbwnzfsx6c3t8h0000gn/T/ipykernel_36166/1841928432.py:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  pab = pab.append({'year': int(year), 'month': int(month)}, ignore_index=True)
/var/folders/2w/njy86mp575gbwnzfsx6c3t8h0000gn/T/ipykernel_36166/1841928432.py:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  pab = pab.append({'year': int(year), 'month': int(month)}, ignore_index=True)
/var/folders/2w/njy86mp575gbwnzfsx6c3t8h0000gn/T/ipykernel_36166/1841928432.py:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  pab = pab.append({'year': int(year), 'month': int(month)}, ignore_index=True)
/var/folders/2w/njy86mp575gbwnzfsx6c3t8h0000gn/T/ipykernel_36166/1841928432.py:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  pab = pab.append({'year': int(year), 'month': int(month)}, ignore_index=True)
/var/folders/2w/njy86mp575gbwnzfsx6c3t8h0000gn/T/ipykernel_36166/1841928432.py:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  pab = pab.append({'year': int(year), 'month': int(month)}, ignore_index=True)
/var/folders/2w/njy86mp575gbwnzfsx6c3t8h0000gn/T/ipykernel_36166/1841928432.py:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  pab = pab.append({'year': int(year), 'month': int(month)}, ignore_index=True)
/var/folders/2w/njy86mp575gbwnzfsx6c3t8h0000gn/T/ipykernel_36166/1841928432.py:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  pab = pab.append({'year': int(year), 'month': int(month)}, ignore_index=True)
/var/folders/2w/njy86mp575gbwnzfsx6c3t8h0000gn/T/ipykernel_36166/1841928432.py:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  pab = pab.append({'year': int(year), 'month': int(month)}, ignore_index=True)
/var/folders/2w/njy86mp575gbwnzfsx6c3t8h0000gn/T/ipykernel_36166/1841928432.py:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  pab = pab.append({'year': int(year), 'month': int(month)}, ignore_index=True)
/var/folders/2w/njy86mp575gbwnzfsx6c3t8h0000gn/T/ipykernel_36166/1841928432.py:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  pab = pab.append({'year': int(year), 'month': int(month)}, ignore_index=True)
/var/folders/2w/njy86mp575gbwnzfsx6c3t8h0000gn/T/ipykernel_36166/1841928432.py:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  pab = pab.append({'year': int(year), 'month': int(month)}, ignore_index=True)
/var/folders/2w/njy86mp575gbwnzfsx6c3t8h0000gn/T/ipykernel_36166/1841928432.py:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  pab = pab.append({'year': int(year), 'month': int(month)}, ignore_index=True)
/var/folders/2w/njy86mp575gbwnzfsx6c3t8h0000gn/T/ipykernel_36166/1841928432.py:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  pab = pab.append({'year': int(year), 'month': int(month)}, ignore_index=True)
/var/folders/2w/njy86mp575gbwnzfsx6c3t8h0000gn/T/ipykernel_36166/1841928432.py:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  pab = pab.append({'year': int(year), 'month': int(month)}, ignore_index=True)
/var/folders/2w/njy86mp575gbwnzfsx6c3t8h0000gn/T/ipykernel_36166/1841928432.py:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  pab = pab.append({'year': int(year), 'month': int(month)}, ignore_index=True)
/var/folders/2w/njy86mp575gbwnzfsx6c3t8h0000gn/T/ipykernel_36166/1841928432.py:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  pab = pab.append({'year': int(year), 'month': int(month)}, ignore_index=True)

,year,month,song,songfreq,appearance,date
0,2009,1,0,0.0,0,2009-01-01
1,2009,2,0,0.0,0,2009-02-01
2,2009,3,I Know You Want Me (Calle Ocho),3.0,1,2009-03-01
3,2009,4,I Know You Want Me (Calle Ocho),4.0,1,2009-04-01
4,2009,5,I Know You Want Me (Calle Ocho),5.0,1,2009-05-01
5,2009,6,I Know You Want Me (Calle Ocho),4.0,1,2009-06-01
6,2009,7,I Know You Want Me (Calle Ocho),4.0,1,2009-07-01
7,2009,7,Hotel Room Service,4.0,1,2009-07-01
8,2009,8,Hotel Room Service,5.0,1,2009-08-01
9,2009,8,I Know You Want Me (Calle Ocho),5.0,1,2009-08-01
10,2009,9,Hotel Room Service,4.0,1,2009-09-01
11,2009,9,I Know You Want Me (Calle Ocho),4.0,1,2009-09-01
12,2009,10,Hotel Room Service,5.0,1,2009-10-01
13,2009,10,I Know You Want Me (Calle Ocho),5.0,1,2009-10-01
14,2009,11,Hotel Room Service,4.0,1,2009-11-01
15,2009,11,I Know You Want Me (Calle Ocho),1.0,1,2009-11-01
16,2009,12,Hotel Room Service,1.0,1,2009-12-01
17,2010,1,0,0.0,0,2010-01-01
18,2010,2,0,0.0,0,2010-02-01
19,2010,3,0,0.0,0,2010-03-01
20,2010,4,0,0.0,0,2010-04-01
21,2010,5,0,0.0,0,2010-05-01
22,2010,6,0,0.0,0,2010-06-01
23,2010,7,0,0.0,0,2010-07-01
24,2010,8,0,0.0,0,2010-08-01
25,2010,9,0,0.0,0,2010-09-01
26,2010,10,0,0.0,0,2010-10-01
27,2010,11,"Bon, Bon",2.0,1,2010-11-01
28,2010,12,"Bon, Bon",3.0,1,2010-12-01
29,2011,1,0,0.0,0,2011-01-01
30,2011,2,0,0.0,0,2011-02-01
31,2011,3,0,0.0,0,2011-03-01
32,2011,4,0,0.0,0,2011-04-01
33,2011,5,0,0.0,0,2011-05-01
34,2011,6,Pause,1.0,1,2011-06-01
35,2011,7,0,0.0,0,2011-07-01
36,2011,8,0,0.0,0,2011-08-01
37,2011,9,0,0.0,0,2011-09-01
38,2011,10,0,0.0,0,2011-10-01
39,2011,11,0,0.0,0,2011-11-01
40,2011,12,0,0.0,0,2011-12-01
41,2012,1,0,0.0,0,2012-01-01
42,2012,2,0,0.0,0,2012-02-01
43,2012,3,0,0.0,0,2012-03-01
44,2012,4,Back In Time,2.0,1,2012-04-01
45,2012,5,Back In Time,4.0,1,2012-05-01
46,2012,6,Back In Time,5.0,1,2012-06-01
47,2012,7,Back In Time,4.0,1,2012-07-01
48,2012,8,Back In Time,4.0,1,2012-08-01
49,2012,9,Back In Time,1.0,1,2012-09-01
50,2012,10,0,0.0,0,2012-10-01
51,2012,11,0,0.0,0,2012-11-01
52,2012,12,0,0.0,0,2012-12-01

Now that we have two dataframes that include the relevant information, month and year, we can join them to see side-by-side what the unemployment rate was for a given month, and how many times Pitbull appeared on the billboard 100 in that month (if he appeared)

In [15]:
%sql simplecomp_df << SELECT up_df.year, up_df.date, pab_df.appearance, up_df.month, up_df.unrate, pab_df.songfreq FROM up_df INNER JOIN pab_df ON up_df.date=pab_df.date
simplecomp_df.head(10)

Returning data to local variable simplecomp_df

   year       date  appearance  month  unrate  songfreq
0  2009 2009-01-01           0      1     8.5       0.0
1  2009 2009-02-01           0      2     8.9       0.0
2  2009 2009-03-01           1      3     9.0       3.0
3  2009 2009-04-01           1      4     8.6       4.0
4  2009 2009-05-01           1      5     9.1       5.0
5  2009 2009-06-01           1      6     9.7       4.0
6  2009 2009-07-01           1      7     9.7       4.0
7  2009 2009-07-01           1      7     9.7       4.0
8  2009 2009-08-01           1      8     9.6       5.0
9  2009 2009-08-01           1      8     9.6       5.0

In [16]:
%sql unemployaward_df << SELECT up_df.year, up_df.month, up_df.unrate, pitbull_billboard_all_awards_df.Latin FROM up_df INNER JOIN pitbull_billboard_all_awards_df ON up_df.year=pitbull_billboard_all_awards_df.year
unemployaward_df.head(10)

Returning data to local variable unemployaward_df

   year  month  unrate Latin
0  2009     12     9.7     0
1  2009     12     9.7     0
2  2009     12     9.7     0
3  2009     12     9.7     0
4  2009     12     9.7     0
5  2009     12     9.7     0
6  2009     12     9.7     0
7  2009     12     9.7     0
8  2009     12     9.7     0
9  2009     12     9.7     0