In [1]:
import requests
from bs4 import BeautifulSoup

import pandas as pd
import numpy as np
import time

import seaborn
from matplotlib import pyplot as plt

from sklearn.linear_model import LogisticRegression
from sklearn.linear_model import LinearRegression
from sklearn import preprocessing
from sklearn import utils
from scipy.stats import binom, poisson, norm

In [2]:
%load_ext sql

%config SqlMagic.autopandas = True
%config SqlMagic.feedback = False
%config SqlMagic.displaycon = False

%sql duckdb:///:memory:

### Phase IV

Hypothesis #1- There's a correlation between an award in a given year being Latin and the unemployment rate fluctuating by a certain amount from 2009 to 2012.
- We will perform a pff on the probability that given a song's award is Latin, the unemployment rate would fluctuate by a certain amount.
- We will also utilize a correlation matrix.

In [3]:
unemployaward_df = pd.read_csv('unemployaward_df.csv')

<bound method IndexOpsMixin.value_counts of 0      0
1      0
2      0
3      0
4      0
      ..
895    1
896    1
897    1
898    1
899    1
Name: Latin, Length: 900, dtype: int64>

Hypothesis #2- Given a host of variables in our unemployment data-- age range of those unemployed, their gender, and the cumulative unemployment rate-- we can predict whether or not Pitbull would make it onto the Billboard Charts.
 - We will use K-folds for a logistical regression to see if we can train the data set on unemployment-- given a host of variables-- to see if we can predict Pitbull's chart success, as well as understand the relationship and effect different variables have on Pitbull chart success

In [6]:
ucomplex_df=pd.read_csv('ucomplex_df.csv')
ucomplex_df.head(5)

,Unnamed: 0,date,unrate,u_men,u_women,u16_17,u18_19,u20_24,u25_34,u35_44,u45_54
0,0,1948-01-01,4.0,4.2,3.5,10.8,9.6,6.6,3.6,2.6,2.7
1,1,1948-02-01,4.7,4.7,4.8,15.0,9.5,8.0,4.0,3.2,3.4
2,2,1948-03-01,4.5,4.5,4.4,13.2,9.3,8.6,3.5,3.2,2.9
3,3,1948-04-01,4.0,4.0,4.1,9.9,8.1,6.8,3.5,3.1,2.9
4,4,1948-05-01,3.4,3.3,3.4,6.4,7.2,6.3,2.8,2.5,2.3

Limit the df to dates that we have data on for Billboard Hot 100 charts, 2009-2012

In [10]:
bb_ucomplex_df=ucomplex_df.loc[ucomplex_df['date'].between('2009-01-01', '2012-12-01')]
bb_ucomplex_df.head(5)

,Unnamed: 0,date,unrate,u_men,u_women,u16_17,u18_19,u20_24,u25_34,u35_44,u45_54
732,732,2009-01-01,8.5,9.7,7.0,20.8,21.7,13.5,9.2,7.4,6.7
733,733,2009-02-01,8.9,10.4,7.2,22.8,22.7,13.8,9.8,7.5,7.2
734,734,2009-03-01,9.0,10.6,7.3,23.6,20.4,13.9,10.0,7.8,7.2
735,735,2009-04-01,8.6,9.9,7.1,21.8,20.4,13.7,9.6,7.5,6.6
736,736,2009-05-01,9.1,10.2,7.7,24.2,23.3,15.5,10.1,7.5,6.5

In [ ]:
#bb_train, bb_test = train_test_split(bb_ucomplex_df, test_size=.2)